<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room Reservation - Overlook Hotel</title>
    <link rel="stylesheet" th:href="@{/css/clientHomePage.css}" />
    <link rel="stylesheet" th:href="@{/css/clientBookingPage.css}" />
    <link rel="stylesheet" th:href="@{/css/clientReservationsPage.css}" />
    <link rel="stylesheet" th:href="@{/css/clientSettingsPage.css}" />
  </head>
  <body>
    <div class="client-dashboard">
      <div th:replace="~{fragments/client/sidebar :: clientSidebar}"></div>

      <main class="dashboard-main">
        <div th:replace="~{fragments/client/header :: clientHeader}"></div>
        <div th:replace="~{fragments/client/roomReservation :: roomReservationSection}"></div>
        <div th:replace="~{fragments/client/booking :: bookingSection}"></div>
        <div th:replace="~{fragments/client/roomManagement :: roomManagementSection}"></div>
        <div th:replace="~{fragments/client/settings :: settingsSection}"></div>
      </main>
    </div>

    <script th:src="@{/js/clientHomePage.js}"></script>
    <script th:src="@{/js/clientBookingPage.js}"></script>
    <script th:src="@{/js/clientReservationsPage.js}"></script>
    <script th:src="@{/js/clientSettingsPage.js}"></script>
  </body>
</html>
